html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#btn1{
  background-color:#e6b4bc!important;
  border: 2px solid #e6b4bc ;
}
#btn2{
  background-color:#b8ca9d!important;
  border: 2px solid #b8ca9d ;
}
#btn3{
  background-color:#a6c9ce!important;
  border: 2px solid #a6c9ce ;
}
#Title{
  font-size:35px;
}